*, *:after, *:before {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}

[class^="col-"]{
	float: left;
	padding: 0;
	text-align: center;
}

.col-1of8 {
	float: left;
	width: 12.5%;
	padding: 2% 0 0 1.5%;
}

@media (max-width: 50em) {
	.col-1of8 {
		width: 100%;
	}
}

.col-1of12 {
	float: right;
	width: 8.333%;
	padding: 1.5% 0 1.5% 0;
}

@media (max-width: 50em) {
	.col-1of12 {
		width: 100%;
	}
}

.col-12of12 {
	float: right;
	text-align: left;
	width: 100%;
}

@media (max-width: 8.333em) {
	.col-12f12 {
		width: 100%;
	}
}

.col-6of12 {
	padding: 0.3em; 
	width: 50%;
	text-align: left;
}

@media (max-width: 55em) {
	.col-6of12 {
		width: 100%;
	}
}

.col-6of12-text {
	padding: 0.3em; 
	width: 50%;
	text-align: left;
  	position: absolute;
  	top: 3em;
  	left: 1em;
}

@media (max-width: 50em) {
	.col-6of12-text {
		width: 100%;
	}
}

.col-4of12 {
	padding-top: 1em;
	width: 33.333%;
}

@media (max-width: 45em) {
	.col-4of12 {
		width: 100%;
	}
}

.col-4of12-menu {
	padding: 0;
	width: 33.333%;
}

@media (max-width: 45em) {
	.col-4of12-menu {
		width: 100%;
	}
}

.col-3of12{
	padding: 0.3em; 
	width: 25%;
	text-align: left;
}

@media (max-width: 25em) {
	.col-3of12 {
		width: 100%;
	}
}

.col-8of12{
	width: 66.666%;
	padding-top: 2em;
}

@media (max-width: 66.666em) {
	.col-8of12 {
		width: 100%;
	}
}

.grid:after{
	content: "";
	display: block;
	clear: both;
}


